.main,
.upload,
.uploadContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.uploadContainerWrapper {
  width: 1065px;
  flex-direction: column;
  padding: 46px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.main,
.upload {
  flex-direction: row;
}
.main {
  flex: 1;
  gap: 45px;
  max-width: 100%;
}
.upload {
  width: 100%;
  position: relative;
  background-color: #fafafb;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .main {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .uploadContainerWrapper {
    padding-top: 30px;
    box-sizing: border-box;
  }
  .main {
    gap: var(--gap-3xl);
  }
}
