.tablerIconSun {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.themeIcons {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-7xs);
  box-sizing: border-box;
}
.themeIcons,
.themeIcons1,
.themeSwitch {
  border-radius: var(--br-4xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.themeIcons1 {
  height: 32px;
  width: 32px;
  box-shadow: var(--card-shadow);
  background-color: var(--common-background);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-7xs);
  box-sizing: border-box;
}
.themeSwitch {
  background-color: var(--common-minimal);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  gap: var(--gap-9xs);
  cursor: pointer;
}
